@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
    background-color: var(--background-color);
    font-family: "Manrope", sans-serif;
    font-weight: 800;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: var(--advice-card-color);
    border-radius: 12px;
    padding: 30px;
}

.container .advice-number {
    font-size: 12px;
    color: var(--advice-dice-title-color);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    padding-bottom: 15px;
}

.container .advice {
    font-size: 24px;
    color: var(--text-color);
    text-align: center;
    padding-bottom: 25px;
}

.container .advice-update{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--advice-dice-title-color);
    transform: translateY(50%);
    position: relative;
    top: 30px;
}

.container .advice-update:hover{
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px var(--advice-dice-title-color);
}


